
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h2 class="modal-title m-0">Cập nhật thông tin nhãn hàng</h2>
    </div>
    <div class="modal-body p-4">
        <form [formGroup]="postForm">
            <input type="hidden" formControlName="status">
            <div class="form-group mb-3">
                <label for="categoryId" class="form-label">Mã nhãn hàng:</label>
                <input type="text" class="form-control" id="categoryid" formControlName='categoryId' readonly>
            </div>
            <div class="form-group mb-3">
                <label for="categoryName" class="form-label">Tên nhãn hàng:</label>
                <input type="text" class="form-control" id="categoryName" placeholder="Tên nhãn hàng"
                    [ngClass]="{'is-invalid':postForm.get('categoryName')?.touched && postForm.get('categoryName')?.invalid}"
                    formControlName='categoryName'>
                <small *ngIf="postForm.get('categoryName')?.invalid && postForm.get('categoryName')?.touched"
                    class="text-danger">Hãy nhập đúng tên nhãn hàng</small>
            </div>
            <button mat-raised-button color="primary" [disabled]="postForm?.invalid" (click)="update()">Cập nhật</button>
        </form>
    </div>
</ng-template>
<a style="color: steelblue; cursor: pointer;" (click)="open(content)"><i class="bi bi-eye-fill"></i></a>